.container {
 
  background: linear-gradient(to bottom, #e0f2fe, #f0f9ff, #ffffff);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  
  border-radius: 15px;
}
.controls {
  
  display: flex; 
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
  align-items: center;    /* จัดกึ่งกลางแนวตั้ง */
  min-height: 100vh;     /* ให้มีความสูงเต็มหน้าจอ (Viewport Height) */
  width: 100%;           /* ให้มีความกว้างเต็มหน้าจอ */
 
}
.controlsHead{
  
  width: 350px;
  margin-top: 20px;
  height: 50px;
  h1{
    text-align: center;
    
  }
}
.controlsInfo{
 
  width: 350px;
  height: 50px;
  h1{
    text-align: center;
  }
}
.controlsBtn{
  /*border: 2px solid rgb(219, 79, 79);*/
  width: 350px;
 padding-top: 15px;
  p{
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.forgonPassword{
  
  display: flex;

  justify-content: flex-end; 
  width: 100%; /* ให้เต็มความกว้างของ Container แม่ */
 

}
