.container {
  background: linear-gradient(to bottom, #e0f2fe, #f0f9ff, #ffffff);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 15px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.controlsHead{
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
  height: auto;
  h1{
    text-align: center;
  }
}
.controlsInfo{
  width: 100%;
  max-width: 350px;
  height: auto;
  h1{
    text-align: center;
  }
}
.controlsBtn{
  width: 100%;
  max-width: 350px;
  padding-top: 15px;
  p{
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
.forgonPassword{
  
  display: flex;

  justify-content: flex-end; 
  width: 100%; /* ให้เต็มความกว้างของ Container แม่ */
 

}
